<!DOCTYPE html>
<html>
    <head>
        <title>Formación academica</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/estilosJulian.css') }}">
    </head>
    <body>
        <h1>Formación academica</h1>
        <hr>
        <p>Estoy en 8vo semestre, he visto lo esencial</p>
        <p>del cálculo, sobre progamación he utilizado lenguajes como:</p>
        <ul>
            <li>C++</li>
            <li>Java</li>
            <li>Phyton</li>
        </ul>
        <p>Las asignaturas que mas me han gustado son:</p>
        <ul>
            <li>Cálculo diferencial</li>
            <li>Matematicas especiales</li>
            <li>Métodos numericos</li>
            <li>Programación básica</li>
        </ul>
        <ul>
            <li><a href="{{ url_for('Inicio') }}">Inicio</a></li>
            <li><a href="{{ url_for('DBasicos') }}">Datos basicos</a></li>
            <li><a href="{{ url_for('Tecnologias') }}">Tecnologias de interes</a></li>
        </ul> 
    </body>
</html>