<html>
<head>    
<link href="{{ url_for('static', filename='css/estiloJulio.css') }}" rel="stylesheet" type="text/css">
    <body class="body1">
        <div align="center">
            <img src = "{{ url_for('static', filename='imagenes/yo.jpg.jpeg') }}" width="200" height="250" />
        </div>
        <p>
            <div  align="center">
                <h1 class= "nombre" > Julio Cesar Bernal Pineda </h1> 
                <h2 class= "codigo" > 20171020014 </h2>
            </div>
        </p>
        <div align="center">
            <form action="{{ url_for('Datos') }}" class="boton" >
                <input type="submit" value="Datos Basicos"/>
            </form>
            <form action="{{ url_for('Informacion') }}" class="boton">
                <input type="submit" value="Informacion" />
            </form>
            <form action="{{ url_for('Tecno') }}" class="boton">
                <input type="submit" value="Tecnologia" />
        </div>
    </form>
    <ul>
        <li><a href="{{ url_for('Menu') }}">Menu</a></li>
    </ul>
    </body>
</head>
</html>