<html>
    <link href="{{ url_for('static', filename='css/estiloJulio.css') }}" rel="stylesheet" type="text/css">
    <body class="body2">
    <h1>
        Tecnologias
    </h1>
    <ol>
        <li>Las tecnologias en las que se esta mas interesado son:</li>
        <ul>
            <li>Programacion en lenguaje java</li>
            <li>Programacion en lenguaje Python</li>
            <li>Programación en prolog</li>
        </ul>
    </ol>
    <div align ="center">
    <form action="{{ url_for('Presentacion') }}" class="boton">
        <input type="submit" value="Inicio" />
    </form>
    </div>
    <img src="{{ url_for('static', filename='imagenes/java.png') }}" width="250" height="200"/>
    <img src="{{ url_for('static', filename='imagenes/python.jpg') }}" width="450" height="200" align =""/>
</body>
</html>