<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estiloMiguel.css') }}">
	<title>PAG PRINCIPAL</title>
</head>
<body id="body1">
	<header>
		<div align="center">
			<img src="{{ url_for('static', filename='imagenes/foto_miguel.jpeg') }}" class="image" alt="foto de perfil" height="336" width="260">
			
		</div>
		
		<div align="center">
			<h1 class="nombre"> MIGUEL ANGEL SANCHEZ ROJAS </h1>
			<h2 class="codigo"> Codigo: 20182020023 </h2>
		</div>
	</header>
	
	<ul id="button" align="center">
		<li>
			<a href="{{ url_for('Pg2') }}">Informacion personal</a>
		</li>			
	</ul>
	<br/>
	<ul id="button" align="center">
		<li>
			<a href="{{ url_for('Pg3') }}">Datos personales</a>	
		</li>
	</ul>	
	<br/>
	<ul id="button" align="center">
		<li>
			<a href="{{ url_for('Pg4') }}">Tecnologias</a>	
		</li>
	</ul>	
	<ul>
		<li><a href="{{ url_for('Menu') }}">Menu</a></li>
	</ul>
</body>
</html>
